:root {
    /* --primary-color: #5b5cc8; */
    --bg-color: #2C2F3A;
    --sp-grey: #222;
    --sp-green: #29c65d; /* #21ff6a this is newer and brighter*/
    --primary-color: #21ff6a;

    --main-title-size: 2rem;
    --med-title-size: 1.5rem;
    --small-title-size: 1.2rem;

    --text-size: 0.9rem;
    --small-text-size: 0.85rem;
    --text-color: #333;

    --std-bd-rad: 0.2rem;
    --med-bd-rad: 0.4rem;
}